# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# This file is just for reference what keys should exist, the value is kept secret
# Set file language mode to "Markdown" to see these comments better.

# database url for dev
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# database url for prod, change to "DATABASE_URL"
DATABASE_URL_PROD="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# railway project ID, change this if u host db on other than railway.app
RAILWAY_PROJECT_ID=7ee1bfc0-0000-7984-1324-5a211e22d0ac